.nav-icon {
    margin: 1em;
    width: 40px;
    position: relative;
}

.nav-icon:after {
    height: 4px !important;
    border-radius: 4px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: #d2c4c4;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
    transform: scale(0);
}

.btn {
    height: auto;
    position: absolute;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}
