body {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

#root {
    min-height: 100vh;
    max-height: 100%;
}

#root::after {
    content: "";
    background: url('./round-stainless-steel-bowl-with-cooked-meat-and-vegetables-842545.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
